<% provide(:title, "ログイン") %>
<h1>ログイン</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="session-login-form">
      <%= form_for(:session, url: login_path) do |f| %>

        <%= f.label :email, "メールアドレス" %><span>（必須）</span>
        <%= f.email_field :email, class: 'form-control' %>

        <%= f.label :password, "パスワード" %><span>（必須）</span>
        <%= f.password_field :password, class: 'form-control' %>

        <%= f.submit "ログイン", class: "btn btn-primary" %>
      <% end %>

      <p>まだ会員登録していませんか? <%= link_to "ここから新規登録してください!", signup_path %></p>
    </div>
  </div>
</div>