<% provide(:title, "Myページ") %>
<div class="container">
  <section class="user-info">
    <section class="name-picture">
      <%= render "users/user_info", user: @user %>
    </section>
    <section class="post-stats">
      <span><img src="/memos.png" class="memos-logo">学びメモの数 (<%= @user.microposts.count %>)</span>
      <span><img src="/boards.png" class="boards-logo">学びボードの数 (<%= @user.boards.count %>)</span>
    </section>
    <section class="follow-stats">
      <%= render "shared/follow_stats" %>
    </section>
  </section>
</div>
<div class="mypage-nav-tab">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="true">プロフィール<img src="/no-picture.png" class="profile-logo"></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="books-tab" data-toggle="tab" href="#books" role="tab" aria-controls="books" aria-selected="false">My本棚<img src="/books.png" class="books-logo"></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="memos-tab" data-toggle="tab" href="#memos" role="tab" aria-controls="memos" aria-selected="false">学びメモ<img src="/memos.png" class="memos-logo"></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="boards-tab" data-toggle="tab" href="#boards" role="tab" aria-controls="boards" aria-selected="false">学びボード<img src="/boards.png" class="boards-logo"></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="timeline-tab" data-toggle="tab" href="#timeline" role="tab" aria-controls="timeline" aria-selected="false">タイムライン<img src="/timeline.png" class="timeline-logo"></a>
    </li>
  </ul>
</div>

<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
    <%= link_to "プロフィールを編集する", edit_user_path %>
    <h4><span>自己紹介文</span></h4>
    <% if not @user.profile.blank? %>
      <p><%= @user.profile %></p>
    <% else %>
      <p>自己紹介文は登録されていません。</p>
    <% end %>
    <h4><span>ユーザー名・プロフィール画像</sapn></h4>
    <section class="name-picture">
      <%= render "users/user_info", user: @user %>
    </section>
  </div>

  <div class="tab-pane fade" id="books" role="tabpanel" aria-labelledby="books-tab">
    <%= link_to "新しい本を追加する", new_book_path, id: "mypage-new-book-link" %>
    <% if @read_books.present? %>
      <div class="container">
        <div class="row">
          <%= render "books/mypage_books", books: @read_books %>
        </div>
      </div>
    <% else %>
      <p>本棚に追加した本はありません。</p>
    <% end %>
  </div>

  <div class="tab-pane fade" id="memos" role="tabpanel" aria-labelledby="memos-tab">
    <div class="col-md-12">
      <% if @user.microposts.present? %>
        <ol class="microposts">
          <%= render @microposts %>
        </ol>
      <% else %>
        <p>学びメモはありません。</p>
      <% end %>
    </div>
  </div>

  <div class="tab-pane fade" id="boards" role="tabpanel" aria-labelledby="boards-tab">
    <% if @user.boards.present? %>
      <ol class="boards">
        <%= render @boards %>
      </ol>
    <% else %>
      <p>学びボードはありません。</p>
    <% end %>
  </div>

  <div class="tab-pane fade" id="timeline" role="tabpanel" aria-labelledby="timeline-tab">
    <p>あなたとあなたがフォローしているユーザーの投稿を表示しています。</p>
    <%= render 'shared/feed' %>
  </div>
</div>