<%= form_for(@micropost) do |f| %>
  <div class="field">
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.hidden_field :book_id, value: @book.id %>

    <%= f.text_field :quoted_text, placeholder: "引用文: この書籍から引用する文を書こう!" %>
    <%= f.text_field :content, placeholder: "学びメモ: 感じたことや思ったことを自由にメモしよう!" %>
  </div>
  <%= f.submit "メモを投稿する", class: "btn btn-primary" %>
<% end %>