<h2>選択した本</h2>
<table class="jumbotron">
  <tr>
    <td><img class="book-img" id="new_form" src="<%= @image %>"></td>
    <td><%= @title %></>
  </tr>
</table>

<%= form_for(@book) do |f| %>
  <%= render 'shared/error_messages', object: @book %>
  <%= f.hidden_field :title, class: 'form-control', value: "#{@title}" %>
  <%= f.hidden_field :image, class: 'form-control', value: "#{@image}" %>  <%#画像用のフィールドに変える%>

  <%= f.submit '本棚に追加する', class: "btn btn-primary" %>
<% end %>