<h3>書籍が見つかりません!</h3>
<p>下記の内容で登録しますか？</p>
<table class="jumbotron">
  <tr>
    <td><img class="book-img" id="new_form" src="/no-image.png"></td>
    <td><%= title %></>
  </tr>
</table>

<%= form_for(@book) do |f| %>
  <%= render 'shared/error_messages', object: @book %>
  <%= f.hidden_field :title, class: 'form-control', value: "#{title}" %>
  <%= f.hidden_field :image, class: 'form-control', value: "/no-image.png" %>

  <%= f.submit '本棚に追加する', class: "btn btn-primary" %>
<% end %>