<div class="bookpage-nav-tab">
  <ul class="nav nav-tabs" id="bookTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="book-memos-tab" data-toggle="tab" href="#book_memos" role="tab" aria-controls="book_memos" aria-selected="true">My学びメモ</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="book-board-tab" data-toggle="tab" href="#book_board" role="tab" aria-controls="book_board" aria-selected="false">My学びボード</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="book-other-memos-tab" data-toggle="tab" href="#book_other_memos" role="tab" aria-controls="book_other_memos" aria-selected="false">他の人のメモ</a>
    </li>
  </ul>
</div>

<div class="tab-content" id="bookTabContent">
  <%# board %>
  <div class="tab-pane fade" id="book_board" role="tabpanel" aria-labelledby="book-board-tab">
    <% if @my_board.blank? %>
      <p class="for-blank">この本の学びボードまだはありません。</p>
      <section class="board-form">
        <%= render "shared/board_form" %>
      </section>
    <% else %>
      <%= render @my_board %>
    <% end %>
  </div>

  <%# micropost %>
  <div class="tab-pane fade show active" id="book_memos" role="tabpanel" aria-labelledby="book-memos-tab">
    <section class="micropost-form">
      <%= render 'shared/micropost_form' %>
    </section>
    <% if @my_microposts.any? %>
      <ol class="microposts">
        <%= render @my_microposts %>
      </ol>
    <% else %>
      <p class="for-blank">あなたが投稿した学びメモはまだありません。</p>
    <% end %>
  </div>

  <%# other_micropost %>
  <div class="tab-pane fade" id="book_other_memos" role="tabpanel" aria-labelledby="book-other-memos-tab">
    <% if @other_microposts.any? %>
      <ol class="microposts">
        <%= render @other_microposts %>
      </ol>
    <% else %>
      <p class="for-blank">他の人が投稿した学びメモはまだありません。</p>
    <% end %>
  </div>
</div>