<% provide(:title, @book.title) %>
<div class="row">
  <aside class="col-md-4">
    <section class="book_info">
      <h1>
        <%= @book.title %>
      </h1>
      <p><%= @book.image %></p>
      <% if logged_in? %>
        <%= render "books/read_form", book: @book %>
        <% if current_user.admin? %>
          <%= link_to "delete", @book, method: :delete,
                                       data: { confirm: "You sure?" } %>
        <% end %>
      <% end %>
    </section>
  </aside>
  
  <%# micropost %>
  <div class="col-md-8">
    <% if logged_in? %>
      <% if @book.read_by?(current_user) %>
        <section class="micropost_form">
          <%= render 'shared/micropost_form' %>
        </section>
      <% end %>
    <% end %>
    <% if @book.microposts.any? %>
      <h3>Microposts (<%= @book.microposts.count %>)</h3>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
    <% end %>
  </div>
</div>