<div class="jumbotron">
  <li id="board-<%= board.id %>">
    <span class="book">
      <%= render board.book %>
    </span>
    <span class="title"><%= board.title %></span>
    <span class="content"><%= board.content %></span>
    <span class="timestamp">

    </span>
    <% if current_user?(board.user) %>
      <%= link_to "delete", board, method: :delete,
                                       data: { confirm: "You sure?" } %>
      <%= link_to "編集", edit_board_path(board) %>
    <% end %>
  </li>
</div>