<li id="micropost-<%= micropost.id %>">
  <span><%= link_to micropost.book.image, micropost.book %></span>
  <span class="user"><%= link_to micropost.user.name, micropost.user %></span>
  <span class="quoted_text"><%= micropost.quoted_text %></span>
  <span class="content"><%= micropost.content %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(micropost.created_at) %> ago.
  </span>
  <p>
    <span><%= link_to "コメント数: ", micropost %></span>
    <span id="likes_<%= micropost.id %>"><%= micropost.comments.count %></span>
    <span>いいね数: </span>
    <span id="likes_<%= micropost.id %>"><%= micropost.likes.count %></span>
  </p>
  <% if logged_in? %>
    <%= render "microposts/like_form", micropost: micropost %>
    <% if current_user?(micropost.user) %>
      <%= link_to "delete", micropost, method: :delete,
                                      data: { confirm: "You sure?" } %>
    <% end %>
  <% end %>
</li>