<li id="micropost-<%= micropost.id %>">
  <div class="row">
    <div class="col-md-9">
      <span class="user">
        <%= link_to micropost.user do %>
          <%= render "users/user_info", user: micropost.user %>
        <% end %>
      </span>
      
      <%= link_to micropost do %>
        <%= render "microposts/contents", micropost: micropost %>
        <%= render "microposts/like_stats", micropost: micropost %>
      <% end %>
      
      <%= render "microposts/like_or_delete", micropost: micropost %>
    </div>

    <div class="col-md-3">
      <%# books/showページでは表示しない %>
      <% if @book.blank? %>
        <%= link_to micropost.book do %>
          <img class="book-img in-microposts" src="<%= micropost.book.image %>">
        <% end %>
      <% end %>
    </div>
  </div>
</li>