<% provide(:title, '学びメモ詳細') %>
<div class="micropost">
  <span class="name_picture">
    <%= link_to @micropost.user do %>
      <%= render "users/user_info", user: @micropost.user %>
    <% end %>
  </span>
  <h3><%= @micropost.content %></h3>
</div>
<div>
  <span>コメント数: </span>
  <span id="comments_<%= @micropost.id %>"><%= @micropost.comments.count %></span>
  <span>いいね数: </span>
  <span id="likes_<%= @micropost.id %>"><%= @micropost.likes.count %></span>
</div>
<div class="row">
  <div class="col-md-8">
    <p>コメント一覧</p>
    <% if logged_in? %>
      <%= render "comments/comment_form" %>
    <% end %>
    <ul class="comments">
      <%= render @comments %>
    </ul>
  </div>
  <div class="col-md-4">
    <p>いいねしているユーザー</p>
    <ul class="likes">
      <% @micropost.likes.each do |like| %>
        <li>
          <%= link_to like.user do %> 
            <%= render "users/user_info", user: like.user %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>