<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to root_path do %>
      <p class="header_logo"><img class="logo-image" src="/home-logo.png">BookMarks</p>
    <% end %>
    <div class="header_form">
      <%= form_tag(new_book_path, method: :get) do %>
        <div class="input-group" id="header-input-group">
          <%= search_field_tag "keyword", params[:keyword], class: "form-control", placeholder: "書籍を探す" %>
          <span class="input-group-btn">
            <%= image_submit_tag ("/search_icon.png"), class: "btn", id: "search-icon" %>
          </span>
        </div>
      <% end %>
    </div>
    <div class="menu">
      <p class="init-bottom">BookMarksについて <img src="/arrow-down.png"></p>
      <ul class="menu-dropdown">
        <li><%= link_to "BookMarksとは", about_path %></li>
        <li><%= link_to "お問い合わせ", contact_path %></li>
      </ul>
    </div>
    <div>
      <nav>
        <ul class="nav navbar-nav navbar-right">
          <% if logged_in? %>
            <div class="menu">
              <p class="init-bottom"><img src="/menu.png"></p>
              <ul class="menu-dropdown">
                <li id="header-user-icon">
                  <%= link_to current_user do %>
                    <%= render "users/user_info", user: current_user %>
                  <% end %>
                </li>
                <li><%= link_to "他のユーザー", users_path %></li>
                <li><%= link_to "書籍を探す", new_book_path %></li>
                <li><%= link_to "設定", edit_user_path(current_user) %></li>
                <li class="divider"></li>
                <li id="logout-btn">
                  <%= link_to "ログアウト", logout_path, method: :delete %>
                </li>
              </ul>
            </div>
          <% else %>
            <div class="header-login-form">
              <li><%= link_to "新規登録", signup_path, class: "btn btn-danger", id: "header-signin" %></li>
              <li><%= link_to "ログイン", login_path, class: "btn btn-primary", id: "header-login" %></li>
            </div>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>